{% load static %}

{% block chart %}
    <canvas id="template-chart{{x}}" width="500" height="300"></canvas>

    <script src="{% static 'js/chartjs/dist/Chart.js' %}" type="text/javascript"></script>
    <script>
        var json = {{json|safe}};
        var chartset = json['chartset'];
        var charts{{x}} = chartset[{{x}}];
        var ctx = document.getElementById("template-chart{{x}}");
        var datasetValue = [];
        var chartData = charts{{x}}.charts;
        var labels = []
        for (var j = 0; j < charts{{x}}.charts.length; j++) { 
            var dataValues = []
            labels[j] = []
            for(var i in charts{{x}}.charts[j].graph) {
                labels[j].push(Object.keys(charts{{x}}.charts[j].graph[i].data));
                dataValues.push(Object.values(charts{{x}}.charts[j].graph[i].data));
            } 
            datasetValue[j] = {
                backgroundColor: charts{{x}}.charts[j].color,
                hoverBackgroundColor: darkenColor(charts{{x}}.charts[j].color),
                pointBackgroundColor: darkenColor(charts{{x}}.charts[j].color),
                borderColor: darkenColor(charts{{x}}.charts[j].color),
                strokeColor : charts{{x}}.charts[j].color,
                title :'2013',
                data: dataValues,
                fill: false
            }
        }
        var title = charts{{x}}.title;
        var chart = new Chart(ctx, {
            type: charts{{x}}.type,
                data: { 
                    labels: labels[0],
                    datasets: datasetValue,
                    lineTension: 1,
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        
        function darkenColor(color) {
            color = color.substring(4);
            color = color.replace('(', "");
            color = color.replace('(', "");
            color = color.split(',')
            return 'rgb(' + color[0].toString() + ',' +  color[1].toString() + ',' + color[2].toString() + ', ' + '0.5)'; 
        }

    </script>
{% endblock %}