{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Data Selection</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/data-selection.css' %}">
    </head>
    <body>
        <div class="container entire-body">
            <div class="row justify-content-start">
                <div class="col-0">
                    <button type="button" class="btn btn-outline-primary" id="chart-back-button"><a href="{% url 'chart-creation' %}">Back</a></button>
                </div>
            </div>
            
            <!--Facilities-->
            <form action="/data-visualizer/chart-creation/" method="POST" class="form-group">
                {% csrf_token %}
                {{ dataset_form }} 
            
                <div class="row justify-content-center">
                    <div class="col-0">
                        <input type="submit" value="Select" class="btn btn-outline-primary facility-button" id="data-select-confirm">
                    </div>
                </div>
            </form>
            <div class="row justify-content-center facility section">
                <div class="col-0">
                    <h1 class="section-title">Facility</h1>
                </div>
            </div>
            <div class="row justify-content-center facility-buttons section-button">

            </div>

            <!--Areas-->
            <div class="row justify-content-center facility section">
                <div class="col-0">
                    <h1 class="section-title" id="area">Area</h1>
                </div>
            </div>
            <div class="row justify-content-center facility-buttons section-button">
                
            </div>

            <!--Variables Title-->
            <div class="row justify-content-center facility section">
                <div class="col-0">
                    <h1 class="section-title">Variables</h1>
                </div>
            </div>

            <!--Variables Row 1-->
            <div class="row justify-content-center variable-row-1">
                <div class="col-2"> <!--Variable-->
                    
                </div>
                <div class="col-2"> <!--Variable-->
                    
                </div>
                <div class="col-2"> <!--Variable-->
                    
                </div>
                <div class="col-2"> <!--Variable-->
                    
                </div>
            </div>

            <!--Variables Row 2-->
            <div class="row justify-content-center variable-row-2">
                <div class="col-2"> <!--Variable-->
                    
                </div>
                <div class="col-2"> <!--Variable-->
                    
                </div>
                <div class="col-2"> <!--Variable-->
                    
                </div>
                <div class="col-2"> <!--Variable-->
                    
                </div>
                <div class="col-2"> <!--Variable-->
                    
                </div>
                <div class="col-2"> <!--Variable-->
                    
                </div>
            </div>

        </div>
    </body> 
    <script src="data-selector.js" type="module"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>