{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Data Selection</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/data-selection.css' %}">
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
            $.noConflict();
            jQuery(document).ready(function ($) {
                $("#id_start_date").datepicker({dateFormat: "yy-mm-dd"});
            });
            jQuery(document).ready(function ($) {
                $("#id_end_date").datepicker({dateFormat: "yy-mm-dd"});
            });
        </script>

        
    </head>
    <body>
        <div class="container entire-body">
            <div class="row justify-content-start">
                <div class="col-0">
                    <button type="button" class="btn btn-outline-primary" id="chart-back-button"><a href="{% url 'chart-creation' %}">Back</a></button>
                </div>
            </div>
            
            <!--Facilities-->
            <form action="/data-visualizer/chart-creation/" method="POST" class="form-group">
                {% csrf_token %}
                {{ dataset_form }} 
            
                <div class="row justify-content-center">
                    <div class="col-0">
                        <input type="submit" value="Select" class="btn btn-outline-primary facility-button" id="data-select-confirm">
                    </div>
                </div>
            </form>
        </div>
    </body> 
    <script>
        if('{{use_json}}'=='True') {
            function splitElements(string) {
                string = string.replace('[', '');
                string = string.replace(']', '');
                string = string.replace(/'/g, "");
                string = string.replace(/ /g, "");
                string = string.split(",");
                return string;
            }

            var graph_json = {{graph_json|safe}};
            document.getElementById('id_label').value = graph_json.label;
            for(facility in splitElements(graph_json.facility)) {
                for(var f = 0; f<4; f++) { //4 is the number of areas in DatasetForm
                    if(splitElements(graph_json.facility)[facility]==document.getElementById('id_facility_'+f).value) {
                        document.getElementById('id_facility_'+f).checked = true;
                    }
                }
            }   
            for(area in splitElements(graph_json.area)) {
                for(var a = 0; a<6; a++) { //6 is the number of areas in DatasetForm
                    if(splitElements(graph_json.area)[area]==document.getElementById('id_area_'+a).value) {
                        document.getElementById('id_area_'+a).checked = true;
                    }
                }
            }   
            document.getElementById('id_start_date').value = graph_json.start_date;
            document.getElementById('id_end_date').value = graph_json.end_date;
            document.getElementById('id_units').value = graph_json.unit;
            document.getElementById('id_gender').value = graph_json.gender;
            for(year in splitElements(graph_json.year)) {
                for(var y = 0; y<14; y++) { //14 is the number of years in DatasetForm
                    if(splitElements(graph_json.year)[year]==document.getElementById('id_year')[y].value) {
                        document.getElementById('id_year')[y].selected = true;
                    }
                }
            }   
            for(month in splitElements(graph_json.month)) {
                for(var m = 0; m<13; m++) { //13 is the number of months in DatasetForm
                    if(splitElements(graph_json.month)[month]==document.getElementById('id_month')[m].value) {
                        document.getElementById('id_month')[m].selected = true;
                    }
                }
            }   
            for(week in splitElements(graph_json.week)) {
                for(var w = 0; w<54; w++) { //54 is the number of weeks in DatasetForm
                    if(splitElements(graph_json.week)[week]==document.getElementById('id_week')[w].value) {
                        document.getElementById('id_week')[w].selected = true;
                    }
                }
            } 
            for(day_of_month in splitElements(graph_json.day_of_month)) {
                for(var dom = 0; dom<32; dom++) { //32 is the number of days in DatasetForm
                    if(splitElements(graph_json.day_of_month)[day_of_month]==document.getElementById('id_day_of_month')[dom].value) {
                        document.getElementById('id_day_of_month')[dom].selected = true;
                    }
                }
            }   
            for(day_of_week in splitElements(graph_json.day_of_week)) {
                for(var dow = 0; dow<8; dow++) { //8 is the number of weeks in DatasetForm
                    if(splitElements(graph_json.day_of_week)[day_of_week]==document.getElementById('id_day_of_week')[dow].value) {
                        document.getElementById('id_day_of_week')[dow].selected = true;
                    }
                }
            }   
            for(time in splitElements(graph_json.time)) {
                for(var t = 0; t<8; t++) { //8 is the number of weeks in DatasetForm
                    if(splitElements(graph_json.time)[time]==document.getElementById('id_time')[t].value) {
                        document.getElementById('id_time')[t].selected = true;
                    }
                }
            }           
            document.getElementById('id_color').value = graph_json.color;
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>