{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Dashboard</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="icon" href="{% static 'img/logo.png' %}">
        <script>
            var selectedChart = null; 
            var chartDivList = [];
        </script>
    </head>
    <body>
        <div class="container body entire-body">
        {{title}}
            <div class="row justify-content-start top-bar">
                <div class="col-2">
                    <button type="button" class="btn btn-outline-primary" id="new-chartset-button">Create Template</button>
                    
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-outline-primary" id="save-template-button">Save Template</button>
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-outline-primary" id="view-template-button">View Templates</button>
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-outline-primary" id="new-chartset-button"><a href="{% url 'report' %}">View Report</a></button>
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-outline-primary" id="update-db-button"><a href="{% url 'db-updater' %}">Update Counts</a></button>
                </div>
            </div>
        
        <!-- Save Template Bar -->
            <div class="row justify-content-center align-items-center" id='save-template-row'>
                <div class="col-0">  
                    <form action="/data-visualizer/save-chartset-redirect/" method="POST" class="form-group">
                        {% csrf_token %}
                        {{ save_template_form }}
                        <input type="submit" value="Save" class="btn btn-outline-primary facility-button" id="save-template-confirm">
                    </form>
                </div>
            </div>

        <!-- Select Template Bar -->
            <div class="row justify-content-center align-items-center" id='select-template-row'>
                <div class="col-0">  
                    <form action="/data-visualizer/change-chartset-redirect/" method="POST" class="form-group">
                        {% csrf_token %}
                        {{ select_template_form }}
                        <input type="submit" name='change' value="Select" class="btn btn-outline-primary facility-button" id="select-template-confirm">
                        <input type="submit" name='delete' value="Delete" class="btn btn-outline-primary facility-button" id="delete-template-confirm">
                    </form>
                </div>
            </div>

            

            <div class="container">
                <div class="row chart-row">
                    {% for x in chart_number %}
                    <div class="col-6 chart-div" id="chart{{x}}-div">
                        {% include 'pages/dashboard-chart-template.html' %}
                        <script>
                            chartDivList.push(document.getElementById('chart{{x}}-div'));
                            document.getElementById('chart{{x}}-div').onclick = function() {
                                for(var divIter = 0; divIter<chartDivList.length; divIter++) {
                                    chartDivList[divIter].style.border = '1px solid white';
                                }
                                document.getElementById('edit-chart-button').disabled = false;
                                document.getElementById('delete-chart-button').disabled = false;
                                selectedChart = chartID{{x}};
                                document.getElementById('id_selected_chart_id').value = selectedChart;
                                document.getElementById('chart{{x}}-div').style.border = '1px solid black';
                            }
                        </script>
                    </div>
                    {% endfor %}
                </div>
            </div>

        
        <!--Bottom Bar-->
            <div class="row justify-content-end bottom-bar">
                <div class='col-2'>
                <form action="/data-visualizer/change-selected-chart-redirect/" method="POST">   
                    {% csrf_token %}       
                    <div class='hidden'>
                        {{select_chart_form}}
                    </div>
                    <input type="submit" name='new' value="New+" class="btn btn-outline-primary" id="new-chart-button">
                    <input type="submit" name='edit' value="Edit" class="btn btn-outline-primary" id="edit-chart-button" disabled>
                </div>
                <div class='col-1'>
                    <input type="submit" name='delete' value="Delete" class="btn btn-outline-primary" id="delete-chart-button" disabled>
                </div>
                </form>
            </div>
        </div>
    </body>

    <script>
        {% if name_taken_flag == None %}
            var name_taken = false;
        {% else %}
        if({{name_taken_flag}}=='False') {
            var name_taken = false;
        }
        else {
            var name_taken_flag = true;
        }
        {% endif %}

        window.onload = function() {
            if({{name_taken_flag}}) {
                alert('Chart Set Name Taken');
            }
        }

        document.getElementById('new-chartset-button').onclick = function() {
            if('{{current_saved}}'=='False') {
                if(window.confirm('Template has not been saved, continue?')==true) {
                    window.location = "{% url 'create-chartset-redirect' %}";
                }
            }
            else {
                window.location = "{% url 'create-chartset-redirect' %}";
            }
        }
    </script>
    <script>document.getElementById('id_selected_chart_id').value = -1;</script>
    <script src="{% static 'js/script.js' %}" type="module"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>