{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Report</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="icon" href="{% static 'img/logo.png' %}">
        <link rel='stylesheet' href="{% static 'css/report-width.css' %}">
        <script>var labelJson = {{label|safe}}; var chartDataHtml = [];</script>
    </head>
    <body>
        <div class="container report-body">
            <div class="row justify-content-center">
                <div class="col-0">
                    <p id="title" style='font-size: 1.5rem; margin-top: 25px;'></p>
                </div>
            </div>
            {% for x in chart_number %}
                {% include 'pages/report-chart-template.html' %}
            {% endfor %}
        </div>
        
    </body>
    <script>
        for(var chartIndex = 0; chartIndex<Object.keys(labelJson).length; chartIndex++) {
            var chartTitle = '<div class="row justify-content-center" style="margin-top: 35px;">';
            if(labelJson[chartIndex].common_label.facility.length>0) {
                chartTitle += '<div class="col-3"><p class="centerBlock">' + cleanCommonFacility(labelJson[chartIndex].common_label.facility) + '</p></div>';
            }
            if(labelJson[chartIndex].common_label.area.length>0) {
                chartTitle += '<div class="col-3"><p class="centerBlock">' + cleanCommonArea(labelJson[chartIndex].common_label.area) + '</p></div>';
            }
            if(labelJson[chartIndex].common_label.unit.length>0) {
                chartTitle += '<div class="col-3"><p class="centerBlock">' + cleanCommonGrouping(labelJson[chartIndex].common_label.unit) + '</p></div>';
            }
            if(labelJson[chartIndex].common_label.gender.length>0) {
                chartTitle += '<div class="col-3"><p class="centerBlock">' + cleanCommonGender(labelJson[chartIndex].common_label.gender) + '</p></div>';
            }
            if(labelJson[chartIndex].common_label.date.length>0) {
                chartTitle += '<div class="col-3"><p class="centerBlock">'+ '<b>Dates: </b>' + labelJson[chartIndex].common_label.date + '</p></div>';
            }
            if(labelJson[chartIndex].common_label.month.length>0 && labelJson[chartIndex].common_label.month[0]!='all') {
                chartTitle += '<div class="col-3"><p class="centerBlock">' + cleanCommonMonth(labelJson[chartIndex].common_label.month) + '</p></div>';
            }
            if(labelJson[chartIndex].common_label.day_of_month.length>0 && labelJson[chartIndex].common_label.day_of_month[0]!='all') {
                chartTitle += '<div class="col-3"><p class="centerBlock">' + cleanCommonDay(labelJson[chartIndex].common_label.day_of_month) + '</p></div>';
            }
            if(labelJson[chartIndex].common_label.year.length>0 && labelJson[chartIndex].common_label.year[0]!='all') {
                chartTitle += '<div class="col-3"><p class="centerBlock">' + cleanCommonYear(labelJson[chartIndex].common_label.year) + '</p></div>';
            }
            if(labelJson[chartIndex].common_label.week.length>0 && labelJson[chartIndex].common_label.week[0]!='all') {
                chartTitle += '<div class="col-3"><p class="centerBlock">' + cleanCommonWeek(labelJson[chartIndex].common_label.week) + '</p></div>';
            }
            if(labelJson[chartIndex].common_label.day_of_week.length>0 && labelJson[chartIndex].common_label.day_of_week[0]!='all') {
                chartTitle += '<div class="col-3"><p class="centerBlock">' + cleanCommonWeekday(labelJson[chartIndex].common_label.day_of_week) + '</p></div>';
            }
            if(labelJson[chartIndex].common_label.time.length>0 && labelJson[chartIndex].common_label.time[0]!='all') {
                chartTitle += '<div class="col-3"><p class="centerBlock">' + cleanCommonTime(labelJson[chartIndex].common_label.time) + '</p></div>';
            }
            chartTitle += '</div>';
            var chartVariables = '<div class="container"><br>'; //Whole Graph Container
            for(var graphIndex = 0; graphIndex<labelJson[chartIndex].count; graphIndex++) {
                chartVariables += '<div class="row justify-content-start">';
                chartVariables += '<div class="col-2"><p>' + json.chartset[chartIndex].charts[graphIndex].label + '</p></div>';
                chartVariables += '<div class="col-1"><canvas id="color-canvas-[' + chartIndex + '][' + graphIndex + ']" width="25%" height="25%"></canvas></div>';
                chartVariables += '</div>';//Graph Label
                chartVariables += '<br><div class="row"><div class="col-4"><div class="container">';//Variable Column

                if(labelJson[chartIndex].varying_label.facility.length>0) {
                    chartVariables += '<div class="row justify-content-start"><div class="col-0"><p id="facilities' + chartIndex + '">' + cleanFacility(labelJson[chartIndex].varying_label.facility[graphIndex]) + '</p></div></div>';
                }
                if(labelJson[chartIndex].varying_label.area.length>0) {
                    chartVariables += '<div class="row justify-content-start"><div class="col-0"><p id="areas' + chartIndex + '">'+ cleanArea(labelJson[chartIndex].varying_label.area[graphIndex]) + '</p></div></div>';
                }
                if(labelJson[chartIndex].varying_label.gender.length>0) {
                    chartVariables += '<div class="row justify-content-start"><div class="col-0"><p id="genders' + chartIndex + '">'+ cleanGender(labelJson[chartIndex].varying_label.gender[graphIndex]) + '</p></div></div>';
                }
                if(labelJson[chartIndex].varying_label.date.length>0) {
                    chartVariables += '<div class="row justify-content-start"><div class="col-0"><p id="dates' + chartIndex + '">'+ 'Dates: ' + labelJson[chartIndex].varying_label.date[graphIndex] + '</p></div></div>';
                }
                if(labelJson[chartIndex].varying_label.month.length>0) {
                    chartVariables += '<div class="row justify-content-start"><div class="col-0"><p id="months' + chartIndex + '">' + cleanMonth(labelJson[chartIndex].varying_label.month[graphIndex]) + '</p></div></div>';
                }
                if(labelJson[chartIndex].varying_label.day_of_month.length>0) {
                    chartVariables += '<div class="row justify-content-start"><div class="col-0"><p id="day_of_month' + chartIndex + '">'+ cleanDay(labelJson[chartIndex].varying_label.day_of_month[graphIndex]) + '</p></div></div>';
                }
                if(labelJson[chartIndex].varying_label.year.length>0) {
                    chartVariables += '<div class="row justify-content-start"><div class="col-0"><p id="years' + chartIndex + '">'+ cleanYear(labelJson[chartIndex].varying_label.year[graphIndex]) + '</p></div></div>';
                }
                if(labelJson[chartIndex].varying_label.week.length>0) {
                    chartVariables += '<div class="row justify-content-start"><div class="col-0"><p id="weeks' + chartIndex + '">'+ cleanWeek(labelJson[chartIndex].varying_label.week[graphIndex]) + '</p></div></div>';
                }
                if(labelJson[chartIndex].varying_label.day_of_week.length>0) {
                    chartVariables += '<div class="row justify-content-start"><div class="col-0"><p id="day_of_week' + chartIndex + '">'+ cleanWeekday(labelJson[chartIndex].varying_label.day_of_week[graphIndex]) + '</p></div></div>';
                }
                if(labelJson[chartIndex].varying_label.time.length>0) {
                    chartVariables += '<div class="row justify-content-start"><div class="col-0"><p id="time' + chartIndex + '">'+ cleanTime(labelJson[chartIndex].varying_label.time[graphIndex]) + '</p></div></div>';
                }
                chartVariables += '</div></div>';//End Variable Column
                chartVariables += '<div class="col-8"><div class="container">';//Data Column
                chartVariables += '<div class="row"><div class="col-12">' + chartDataHtml[chartIndex][graphIndex] + '</div></div></div></div>';//End Data column
                chartVariables += '</div>';//End Whole Graph Container
                chartVariables += '<hr>'
            }
            //End Variable and Col
            chartVariables += '</div>';
            document.getElementById('chart-title' + chartIndex).innerHTML = chartTitle;
            document.getElementById('chart-variables' + chartIndex).innerHTML = chartVariables;
            for(var graphIndex = 0; graphIndex<labelJson[chartIndex].count; graphIndex++) {
                var canvas = document.getElementById('color-canvas-[' + chartIndex + '][' + graphIndex + ']');
                var ctx = canvas.getContext("2d");
                ctx.beginPath();
                ctx.rect(0, 0, 150, 100);
                ctx.fillStyle = json.chartset[chartIndex].charts[graphIndex].color;
                ctx.fill();
            }
        }
        function cleanCommonFacility(list) {
            var dict = {'all':'All Facilities', 'rec':'Rec Center', 'clawson':'Clawson', 'nq':'North Quad'};
            var returnString = '<b>Facilities: </b>';
            for(var i = 0; i<list.length; i++) {
                returnString += dict[list[i]] + ', ';
            }
            return returnString.substring(0, returnString.length-2);
        }

        function cleanCommonArea(list) {
            var dict = {'all':'All Areas', 'fc':'Fitness Center', 'gf':'Group Fitness'};
            var returnString = '<b>Areas: </b>';
            for(var i = 0; i<list.length; i++) {
                returnString += dict[list[i]] + ', ';
            }
            return returnString.substring(0, returnString.length-2);
        }

        function cleanCommonGender(list) {
            var returnString = '<b>Gender: </b>';
            genderDict = {'all':'M/F', 'm': 'Male', 'f':'Female'};
            returnString += genderDict[list];
            return returnString;    
        }

        function cleanCommonGrouping(list) {
            var dict = {'hour':'Hourly', 'day':'Daily', 'week':'Weekly', 'month':'Monthly', 'year':'Yearly'};
            var returnString = '<b>Grouped: </b>';
            for(var i = 0; i<list.length; i++) {
                returnString += dict[list[i]] + ', ';
            }
            return returnString.substring(0, returnString.length-2);
        }
        

        function cleanCommonMonth(list) {
            var dict = {'all':'All Months', '1': 'January', '2':'February', '3':'March', '4':'April', '5':'May', '6':'June', '7':'July', '8':'August', '9':'September', '10':'October', '11':'November', '12':'December'};
            var returnString = '<b>Months: </b>';
            for(var i = 0; i<list.length; i++) {
                returnString += dict[list[i]] + ', ';
            }
            return returnString.substring(0, returnString.length-2);
        }

        function cleanCommonDay(list) {
            var dict = {'all':'All Days', '1': '1st', '2':'2nd', '3':'3rd', '4':'4th', '5':'5th', '6':'6th', '7':'7th', '8':'8th', '9':'9th', '10':'10th', '11':'11th', '12':'12th', '13': '13th', '14':'14th', '15':'15th', '16':'16th', '17':'17th', '18':'18th', '19':'19th', '20':'20th', '21':'21st', '22':'22nd', '23':'23rd', '24':'24th','25': '25st', '26':'26th', '27':'27th', '28':'28th', '29':'29th', '30':'30th', '31':'31st'};
            var returnString = '<b>Days: </b>';
            for(var i = 0; i<list.length; i++) {
                returnString += dict[list[i]] + ', ';
            }
            return returnString.substring(0, returnString.length-2);
        }

        function cleanCommonYear(list) {
            var returnString = '<b>Years: </b>';
            for(var i = 0; i<list.length; i++) {
                if(list[i]=='all') {
                    returnString += 'All Years, ';
                }
                else {
                    returnString += list[i] + ', ';
                }
            }
            return returnString.substring(0, returnString.length-2);
        }

        function cleanCommonWeek(list) {
            var returnString = '<b>Weeks: </b>';
            for(var week = 0; week<list.length; week++) {
                if(parseInt(list[week])<10) {
                    returnString += list[week].substring(1) + ', ';
                }
                else {
                    returnString += list[week] + ', ';
                }
                if(list[week]=='all') {
                    returnString = 'Weeks: All Weeks, ';
                    break;
                }
            }
            return returnString.substring(0, returnString.length-2);    
        }

        function cleanCommonWeekday(list) {
            var returnString = '<b>Weekday: </b>';
            var dict = {'all':'All Days', '0': 'Monday', '1':'Tuesday', '2':'Wednesday', '3':'Thursday', '4':'Friday', '5':'Saturday', '6':'Sunday'};
            for(var i = 0; i<list.length; i++) {
                returnString += dict[list[i]] + ', ';
            }
            return returnString.substring(0, returnString.length-2);
        }

        function cleanCommonTime(list) {
            var returnString = '<b>Time: </b>';
            var dict = {'all':'All Times', '0630': '6:30 am', '0730': '7:30 am', '0830': '8:30 am', '0930': '9:30 am', '1030': '10:30 am', '1130': '11:30 am','1230': '12:30 pm', '1330': '1:30 pm', '1430': '2:30 pm', '1530': '3:30 pm', '1630': '4:30 pm', '1730': '5:30 pm', '1830': '6:30 pm', '1930': '7:30 pm', '2030': '8:30 pm', '2130': '9:30 pm', '2230': '10:30 pm'};            for(var i = 0; i<list.length; i++) {
                returnString += dict[list[i]] + ', ';
            }
            return returnString.substring(0, returnString.length-2);
        }

        function cleanFacility(list) {
            var returnString = 'Facilities: ';
            facilityDict = {'all':'All Facilities', 'rec':'Rec Center', 'clawson':'Clawson', 'nq':'North Quad'};
            for(var fac = 0; fac<list.length; fac++) {
                returnString += facilityDict[list[fac]] + ', ';
                if(list[fac]=='all') {
                    returnString = 'Facilities: All Facilities, ';
                    break;
                }
            }
            return returnString.substring(0, returnString.length-2);    
        }

        function cleanArea(list) {
            var returnString = 'Areas: ';
            areaDict = {'all':'All Areas', 'fc': 'Fitness Center', 'gf':'Group Fitness'};
            for(var area = 0; area<list.length; area++) {
                returnString += areaDict[list[area]] + ', ';
                if(list[area]=='all') {
                    returnString = 'Areas: All Areas, ';
                    break;
                }
            }
            return returnString.substring(0, returnString.length-2);    
        }

        function cleanGender(list) {
            var returnString = 'Gender: ';
            genderDict = {'all':'M/F', 'm': 'Male', 'f':'Female'};
            returnString += genderDict[list];
            return returnString;    
        }

        function cleanMonth(list) {
            var returnString = 'Months: ';
            monthDict = {'all':'All Months', '1': 'January', '2':'February', '3':'March', '4':'April', '5':'May', '6':'June', '7':'July', '8':'August', '9':'September', '10':'October', '11':'November', '12':'December'};
            for(var month = 0; month<list.length; month++) {
                returnString += monthDict[list[month]] + ', ';
                if(list[month]=='all') {
                    returnString = 'Months: All Months, ';
                    break;
                }
            }
            return returnString.substring(0, returnString.length-2);    
        }

        function cleanDay(list) {
            var returnString = 'Days: ';
            dayDict = {'all':'All Days', '1': '1st', '2':'2nd', '3':'3rd', '4':'4th', '5':'5th', '6':'6th', '7':'7th', '8':'8th', '9':'9th', '10':'10th', '11':'11th', '12':'12th', '13': '13th', '14':'14th', '15':'15th', '16':'16th', '17':'17th', '18':'18th', '19':'19th', '20':'20th', '21':'21st', '22':'22nd', '23':'23rd', '24':'24th','25': '25st', '26':'26th', '27':'27th', '28':'28th', '29':'29th', '30':'30th', '31':'31st'};
            for(var day = 0; day<list.length; day++) {
                returnString += dayDict[list[day]] + ', ';
                if(list[day]=='all') {
                    returnString = 'Days: All Days, ';
                    break;
                }
            }
            return returnString.substring(0, returnString.length-2);    
        }

        function cleanYear(list) {
            var returnString = 'Years: ';
            for(var year = 0; year<list.length; year++) {
                returnString += list[year] + ', ';
                if(list[year]=='all') {
                    returnString = 'Years: All Years, ';
                    break;
                }
            }
            return returnString.substring(0, returnString.length-2);    
        }

        function cleanWeek(list) {
            var returnString = 'Weeks: ';
            for(var week = 0; week<list.length; week++) {
                if(parseInt(list[week])<10) {
                    returnString += list[week].substring(1) + ', ';
                }
                else {
                    returnString += list[week] + ', ';
                }
                if(list[week]=='all') {
                    returnString = 'Weeks: All Weeks, ';
                    break;
                }
            }
            return returnString.substring(0, returnString.length-2);    
        }

        function cleanWeekday(list) {
            var returnString = 'Weekday: ';
            weekdayDict = {'all':'All Days', '0': 'Monday', '1':'Tuesday', '2':'Wednesday', '3':'Thursday', '4':'Friday', '5':'Saturday', '6':'Sunday'};
            for(var weekday = 0; weekday<list.length; weekday++) {
                returnString += weekdayDict[list[weekday]] + ', ';
                if(list[weekday]=='all') {
                    returnString = 'Weekdays: All Days, ';
                    break;
                }
            }
            return returnString.substring(0, returnString.length-2);    
        }

        function cleanTime(list) {
            var returnString = 'Time: ';
            timeDict = {'all':'All Times', '0630': '6:30 am', '0730': '7:30 am', '0830': '8:30 am', '0930': '9:30 am', '1030': '10:30 am', '1130': '11:30 am','1230': '12:30 pm', '1330': '1:30 pm', '1430': '2:30 pm', '1530': '3:30 pm', '1630': '4:30 pm', '1730': '5:30 pm', '1830': '6:30 pm', '1930': '7:30 pm', '2030': '8:30 pm', '2130': '9:30 pm', '2230': '10:30 pm'};
            for(var time = 0; time<list.length; time++) {
                returnString += timeDict[list[time]] + ', ';
                if(list[time]=='all') {
                    returnString = 'Times: All Times, ';
                    break;
                }
            }
            return returnString.substring(0, returnString.length-2);    
        }
        
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>