{% load static %}

{% block chart %}
    <canvas id="template-chart" width="500" height="300"></canvas>

    <script src="{% static 'js/chartjs/dist/Chart.js' %}" type="text/javascript"></script>
    <script>
        var ctx = document.getElementById("template-chart");
        var testChart = new Chart(ctx, {});
        var chart_type = 'line';
        var list = document.getElementById('id_type');
        var titles = {{ titles|safe }} ;
        list.onchange = function() {
            var title_index = 0;
            testChart.destroy();
            chart_type = list.options[list.selectedIndex].value;
            testChart = new Chart(ctx, {
                type: chart_type,
                data: {
                    labels: {{ labels|safe }},
                    datasets: [
                        {% for x in values %}
                        {
                            label: titles[title_index++],
                            data: {{ x|safe }},
                        backgroundColor: [
                            'rgba(0, 0, 255, 0.2)'
                            ],
                        borderColor: [
                            'rgba(0,99,132,1)'
                        ],
                            borderWidth: 1
                        },
                        {% endfor %}
                    ]
                },
                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        };
        var title_index = 0;
        testChart = new Chart(ctx, {
            type: 'line',
                data: {
                    labels: {{ labels|safe }},
                    datasets: [
                    {% for x in values %}
                    {
                        label: titles[title_index++],
                        data: {{ x|safe }},
                    backgroundColor: [
                        'rgba(0, 0, 255, 0.2)'
                        ],
                    borderColor: [
                        'rgba(0,99,132,1)'
                    ],
                        borderWidth: 1
                    },
                    {% endfor %}
                    ]
                },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
    </script>
{% endblock %}