.entire-body {
    border: 1px solid black;
    background-color: white;
}

.chart-type {
    margin-top: 40px;
    margin-bottom: 40px;
}

.chart-type-button {
    width: 100%;
    height: 50px;
}

#titles, #line-check, #bar-check, #pie-check, #scatter-check, #test-chart, .chart-radio, #test-chart-button, #create-chart-button {
    display: none;
}

#test-chart-button {
    margin-top: 30px;
    border-radius: 10%;
}

#test-chart {
    border: 1px black solid;
    margin-top: 30px;
    padding-bottom: 30px;
}

#chart-top {
    margin-top: 30px;
}

#length-warning {
    font-style: italic;
    font-size: .75rem;
}

#chart-back-button {
    margin-left: 15px;
    margin-top: 15px;
}

#data-select-confirm {
    margin-bottom: 20px;
}

.title-container {
    margin-top: 30px;
    margin-bottom: 30px;
}

.title-row {
    margin-top: 20px;
    margin-bottom: 20px;
}

#create-chart-button {
    margin-top: 50px;
}

.type-row {
    margin-top: 40px;
}

.choose-dataset-button-row {
    margin-bottom: 30px;
}

canvas {
    border: 1px solid black;
}

li {
    display: inline-block;
    margin-right: 5%;
    margin-left: 5%;
}

label {
    font-size: 1rem;
}

canvas {
    padding: 0;
}
