* {
    font-size: 1.05rem;
}

.section {
    margin: 20px;
}

.section-title {
    color: black;
}

.facility-button {
    width: 150px;
}

.checkbox {
    display: none;
}

.select-multiple {
    height: 200px;
}

#increment-text {
    font-style: italic;
    font-size: .75em;
}

.entire-body {
    border: 1px solid black;
}

#chart-back-button {
    margin-top: 15px;
    margin-left: 15px;
}

#data-select-confirm {
    margin-bottom: 15px;
}

li {
    display: inline-block;
    margin-left: 5%;
    margin-right: 5%;
}

label {
    font-size: 1.5rem;
}

.tip {
    font-size: .75rem;
    font-style: italic;
    
}

.form-row {
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    padding: 10px;
}

.ui-datepicker-div {
    background: #ff0000;
}

form {
    text-align: center;
    /* outline: 1px solid black; */
}